
<div class="wrap clearfix">
    <h1 class="mainhead">Randy Pospisil</h1>
        <div class="nav">
            <ul class="navbar">
                <li class="navitem"><a href='/'>Home</a></li>
                <li class="navitem"><a href='/about'>About</a></li>
                <li class="navitem"><a href='/videos'>Videos</a></li>
                <li class="navitem"><a href='/pictures'>Pictures</a></li>
                <li class="navitem"><a href="/writing">Writing</a></li>
                <li class="navitem"><a href="/projects">Projects</a></li>
            </ul>
        </div>