services:
  web:
    build: .
    image: personalsite-web-prod
    container_name: personalsite-web-prod
    ports:
     - "80:80"
    # - "3000:3000"
    # - "6125:6125"
    volumes:
    - pictures:/usr/app/client/public/pics
    - writing_docs:/usr/app/client/public/writing_docs
    - db:/usr/app/server/db
    environment:
      BASEDOCDIR: "/usr/app/client/public/writing_docs/"
      BASEPICDIR: "/usr/app/client/public/pics/"
volumes:
  pictures:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ../Pictures
  writing_docs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ../writing_docs
  db:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ../personalsitedata/db