@use "../util/" as u;
body {
    margin:auto;
    background-color: var(--main-bg-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hamburger {
    display: flex; /* Show by default on mobile */
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1001; /* Ensure it's above the nav-list when open */
}

.hamburger .bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.header{
    background-color: var(--secondary-bg-color);
    
    color:var(--secondary-text-color);
    margin:0;
    @include u.breakpoint(large){
        margin-bottom:0;
        margin-top:1rem;
    }
    
    &__wrapper{
        width:0;
        margin:0;
        @include u.breakpoint(large){
            display:flex;
        }
    }
    &__title {
        margin:0;
        padding:0;
        text-align: center;
        font-size:clamp(2rem,2.2rem,2.5rem);
        @include u.breakpoint(large){
            margin:auto;
            display:block;
        }
    }

    &__logo {
        display:block;
        margin:auto;
        @include u.breakpoint(large){
            margin:0;
        }
    }
    
    &__nav-large {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: flex-start;
        margin:0;
        padding:0;
    }
    &__nav-small{
        li{
           padding:.2rem;
           font-size:clamp(.5rem,1rem,1.3rem)
        }
    }
    &__navitem{
        display:inline-block;
        padding:.5rem;
        border:1px solid var(--secondary-bg-color);
        border-radius: 1em;
        font-size:clamp(1rem,1.3rem,1.7rem);
        a{
            color:var(--secondary-text-color);
            text-decoration: none;
        }
    }
    &__navitem.selected{
        background-color: var(--main-bg-color);
        a{
            color:var(--main-text-color);
            text-decoration: none;
        }
    }
    
}

.footer {
    margin:auto auto 0 auto;
    color:var(--title-text-color);
    &__copy{
        padding:0;
        margin:0;
    }
}