@use "../util" as u;
.main {
    
    margin:0;
    padding:0;

    &__headshot {
        width:200px;
        height:auto;
        display:block;
        margin:auto;

        @include u.breakpoint(large){
            width:350px;
            margin:0;
        }
    }
    &__headshot-group{
        display:flex;
        margin:auto;
    }
    &__wrapper{
        @include u.breakpoint(large){
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        color:var(--main-text-color);
        a {
            color:var(--link-text-color)
        }
    }
    &__heading{
        padding-left:1rem;
        font-size:2rem;
        color:var(--title-text-color);
    }
    &__hometext{
        padding-left:1rem;
        font-size:1.2rem;
    }
    
    
    &__videoplayer{
        display:block;
        height:30em;
    }
    
}
button{
    display:inline-block;
    background-color: var(--secondary-bg-color);
    color:var(--secondary-text-color);
    padding:.75rem;
    margin:.75rem;
    border-radius: 5px;
    font-size:1.2rem;
}
.writing__wrapper,.videos__wrapper,.pictures__wrapper,.about__wrapper,.meals__wrapper{
    flex-wrap:wrap;
    flex-direction: column;

}