@use "../util" as u;
.hidden{
    display:none;
}
.mdviewer {
    
    margin:0;
    padding:0;
    &__editor{
        width:100%;
        height:40vh;
        margin:0;
        padding:0;
    }
    &__printbutton{
        display:none;
        @include u.breakpoint(large){
            display:block;
        }
    }
    
    &__preview {
        height: 40vh;
        overflow: auto;
        &--full {
            height: 80vh;
        }

        @media print {
            height: auto;
            overflow: visible;
            columns: 2;
            column-gap: 1in;
            
            p {
                line-height: 2rem;
            }
        }
    }
}