@use "../util" as u;
.pics{
    &__picgroup{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    &__picturegroup{
        width:50%;
        height:100px;
        @include u.breakpoint(large){
            width:20%;
        }
        outline:1px solid;
        position:relative;
    }
    &__picture{
        width:100%;
        height:auto;
        display:block;
        object-fit: cover;
        max-height:100px;
        
    }
    
    &__pictureoverlay{
        display:flex;
        gap:0;
        position:relative;
        // left: 0;
        top:-100px;
        z-index: 1000;
        background-color: hsla(0, 0%, 50%, 0.301);
        padding:0;
        font-weight: bold;
        color:white;
        width:100%;
        overflow:hidden;
    }
    &__people{
        width: 50%;
        text-align: left;
    }
    &__favorite{
        left:50%;
        width:50%;
        text-align:right;
        background-color: transparent;
        color:yellow;
        box-shadow: black 3px 3px;
    }
    
    &__singlepicture{
        display:block;
        width:100%;
        height:auto;
    }
    &__buttongroup{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    &__selectpics{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
        padding:3px;
        @include u.breakpoint(large){
            grid-template-columns: repeat(5, 1fr);
        }
    }
    &__selectorlabel{
        display:flex;
        align-items: center;
        box-sizing: border-box;
    }
    &__tags{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__tag{
        display: flex;
        align-items: center;
        box-sizing: border-box;
        flex-direction: column;
        &icon{
            font-size:2rem;
        }
        &label{
            
        }
    }
}
.pictures{
    &__heading{}
    &__peoplelist{
        height:200px;
        overflow-y: scroll;
    }
    &__container{
        position:relative;
    }
    &__buttons{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }
    &__editbutton{
        background-color: transparent;
        
        
    }
    &__favbutton.favorite{
        background-color: transparent;
        color:yellow;
        box-shadow: black 3px 3px;
    }
    &__favbutton{
        background-color: transparent;
        
    }
}