:root {
    
    --main-bg-color: hsl(180, 86%, 67%);
    --main-text-color:hsl(180, 55%, 4%);
    --inset-color:hsl(182, 25%, 50%);
    --inset-textcolor:rgb(252, 240, 240);

    --secondary-bg-color:var(--main-text-color);
    --secondary-text-color:var(--main-bg-color);
    
    --link-text-color:hsl(120, 1%, 26%);
    --title-text-color:hsl(180, 2%, 11%);
    
}