:root {
    
    --main-bg-color: hsl(180, 86%, 67%);
    --main-text-color:hsl(180, 55%, 4%);

    --secondary-bg-color:var(--main-text-color);
    --secondary-text-color:var(--main-bg-color);
    
    --link-text-color:hsl(114, 54%, 11%);
    --title-text-color:hsl(180, 100%, 5%);
    
}