:root {
    --secondary-bg-color:rgb(0, 44, 44);
    --main-text-color:hsl(180, 53%, 87%);
    --secondary-text-color:hsl(180, 53%, 87%);
    --main-bg-color: hsl(180, 22%, 59%);

    --title-bg-color:hsl(180, 100%, 5%);
    
}