<%- include("../partials/head") %>
    <title>Oops</title>
    <style>
        h1{
            padding:3em;
            font-size: 2em;
        }
    </style>
    </head>

    <body>
        <%- include("../partials/header") %>
            <h1>Oops! This page doesn't exist yet.</h1>
           

            </div>
            <%- include("../partials/footer") %>
    </body>

    </html>