<%- include("../partials/head") %>
<title>Randy Pospisil - Writing</title>
<style>
    
</style>
</head>
<%- include("../partials/header") %>
<div class="textcontainer">
<%- content[0].content %>

        
</div>

<%- include("../partials/footer") %>
</body>

</html>