<%- include("../partials/head") %>
    <title>Dashboard</title>
    </head>

    <body>
        <%- include("../partials/header") %>
            <h2>Hello <%- name.displayName %></h2>


            </div>
            <%- include("../partials/footer") %>
    </body>

    </html>