
<%- include("../partials/head") %>
<title>Randy Pospisil</title>
</head>
<body>
<style>
@media screen and (min-width:481px){
    .textimgcontainer .floattext{
        position: absolute;
        top: 8px;
        width: 80%;
        left: 10%;
        right: 10%;
        background-color: rgb(10, 27, 48, .5);
        padding: 3px;
    }
    .textimgcontainer .floattext p{
        color: rgb(177, 239, 248);
        font-size:2em;
    }
    .textimgcontainer img{
        width: 100%;
    }
}
@media screen and (max-width:480px) {
    .textimgcontainer .floattext{
        background-color: rgb(10, 27, 48, .5);
    
    }
    .textimgcontainer .floattext p{
        color: rgb(177, 239, 248);
        font-size:1.2em;
    }
    .textimgcontainer img{
        width: 100%;
    }
}

</style>
<%- include("../partials/header") %>
        
        <div class="textimgcontainer">
            <img src="/images/randypospisl-headshot.jpg" alt="Randy Pospisil Headshot" />
            <div class="floattext"><p>This is my personal website where I post pictures, my past sermon videos, some writing and other projects.</p>
            <p>Is there something you're interested in and you want to contact me? Fill out my <a href='/about/#contactmeform'>Contact Me</a> sheet on my About page.</p></div>
            
        </div>
    </div>
<%- include("../partials/footer") %>
</body>

</html>