<h1> Google Login </h1>
<%- include("../partials/head") %>
    <title>Randy Pospisil - About Me</title>
    <style>
        .google-icon{
            max-width:2em;
            float:left;
        }
        .google-button-label{
            line-height:1em;
            padding:10%;
            
        }
    </style>
    </head>
    <%- include("../partials/header") %>
        <div class="textcontainer">
            <h2>Log In</h2>

<form action="/auth/google" method="POST">
    <input type='hidden' name='returnTo' id='returnTo' value='<%= returnTo %>' />
    <button type="submit"><img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" /><span class='google-button-label'>Sign In with Google</span></button>
</form>
</div>

<%- include("../partials/footer") %>
    </body>

    </html>