<%- include("../partials/head") %>
<title>Randy Pospisil - About Me</title>
<style>
    .icon{
        width:1.5em;
        height:1.5em;
        vertical-align:-.125em;
    }
    .sociallinks{
        padding-bottom:1em;
    }
    #contactme div{
        padding:1em;
    }
</style>
</head>
<%- include("../partials/header") %>
 <div class="textcontainer">
            Thanks for contacting me <%=name%>
        </div>
        
    </div>
<%- include("../partials/footer") %>
</body>

</html>