<%- include("../partials/head") %>
<title>Randy Pospisil - Projects</title>
<style>
    
</style>
</head>
<%- include("../partials/header") %>
<div class="textcontainer">
<p>Some cool projects I've been working on...</p>
<ul>
    <li><a href='https://peoplegroups.posis.me'>PeopleGroups</a> - a project used to see what people groups are in your area (in Europe)</li>
</ul>

        
</div>

<%- include("../partials/footer") %>
</body>

</html>