<%- include("../partials/head") %>
<title>Randy Pospisil - Videos</title>
<style>
    
</style>
</head>
<%- include("../partials/header") %>
<div class="textcontainer">
    <h2>Videos</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLHckt1rS4PohmPeemjtXHW5vCIjrUtfIQ"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
        
</div>
<%- include("../partials/footer") %>
</body>

</html>