<%- include("../partials/head") %>
<title>Randy Pospisil - Writing</title>
<style>
    a.writinglink{
        cursor:pointer;
        text-decoration: underline;
    }
    li{
            list-style: circle;
    padding-left: 2em;
    margin-left: 2em;
    padding-top: 1em;
    }
</style>
</head>
<%- include("../partials/header") %>
<div class="textcontainer">
<p>Though I am not a prolific writer, I enjoy writing sermons and lessons. Click below to read some of my writing:</p>
<ul>
    <li><a class='writinglink' href='/blog/gods-faithful-integrity'>God's Faithful Integrity</a> - sermon delivered at Cornerstone Church, Marion, IA - April 23, 2023</li>
</ul>

        
</div>

<%- include("../partials/footer") %>
</body>

</html>