<%- include("../partials/head") %>
<title>Randy Pospisil - Writing</title>
<style>
    
</style>
</head>
<%- include("../partials/header") %>
<div class="textcontainer">
    <h2>Writing</h2>

        
</div>
<%- include("../partials/footer") %>
</body>

</html>